<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JokeAPI</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container mt-5">
        <div class="card text-center">
            <div class="card-header">
                <h1>Joke of the Day</h1>
            </div>
            <div class="card-body">
                <% if (joke) { %>
                    <% if (joke.type === 'single') { %>
                        <p class="card-text"><%= joke.joke %></p>
                    <% } else { %>
                        <p class="card-text"><%= joke.setup %></p>
                        <p class="card-text"><%= joke.delivery %></p>
                    <% } %>
                <% } else { %>
                    <p class="card-text">Sorry, I couldn't grab a joke for you. Please try again later</p>
                <% } %>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

